.header__link{
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    z-index: 1;
    color: #2f80ed;
    opacity: 1;
    transition: opacity 0.2s ease 0.1s;
  }
  
  .header__link:hover {
    opacity: 0.8;
  }