.two-columns{
    margin: 0px auto 0px;
    min-width: 784px;
    width: 80%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}