.header__title{
    width: 730px;
    margin-left: 64px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 102px;
    font-weight: bold;
    line-height:96px;
    align-self: center;
    z-index: 1;
  }