.page{
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header{
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  z-index: 0;
}

.logo_place_header{
  position: absolute;
  height: 32px;
  width: 228px;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title{
  width: 730px;
  margin-left: 64px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 102px;
  font-weight: bold;
  line-height:96px;
  align-self: center;
  z-index: 1;
}

.header__subtitle{
  position: absolute;
  width: 388px;
  left:64px;
  bottom: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 1;
}

.header__link{
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  z-index: 1;
  color: #2f80ed;
}

.header__main-illustration{
  height: 608px;
  width: 756px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header__square-pic{
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -1;
}

.two-columns{
  margin: auto;
  min-width: 784px;
  width: 80%;
  align-self: center;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.two-columns__brief{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
}

.two-columns__main-text{
  margin-top: 0;
  padding-top: 0;
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-child{
  margin-bottom: 0px;
}

.two-columns__span-accent{
  font-weight: bold;
}

.digits{
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.section-title{
  width: 60%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  line-height: 1.15;
}

.section-subtitle{
  width: 60%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  line-height: 34px;
}

.table{
  width: 1100px;
  margin: 0 auto 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell{
  width: 250px;
  margin-top: 60px;
}

.table__heading{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.15;
}

.table__text{
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 0px;
}

.feynman{
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

.feynman__title{
   width: 648px;
   font-size: 120px;
   font-weight: bold;
   text-align: center;
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 0;
   z-index: 1;
}

.feynman__subtitle{
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  line-height: 51px;
  margin-top: 70px;
  margin-bottom: 0;
  align-self: center;
  z-index: 1;
}

.feynman__link{
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;

}

.feynman__image{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 867px;
  height: 637px;
  z-index: -1;
}

.kaufman{
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  color: white;
  z-index: 0;
}

.section-title_theme_dark{
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  text-align: center;
}

.section-subtitle_theme_dark{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
}

.table__cell_theme_dark{
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table_theme_dark{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  z-index: 1;
}

.kaufman__triangle{
  background: no-repeat url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.table__heading_theme_dark{
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
  margin-bottom: 0px;
  margin-top: 0px;
}

.table__text_theme_dark{
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  line-height: 1.2;
}

.footer{
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
  color: white;
}

.footer__columns{
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 60px auto 40px;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-links{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.logo_place_footer{
  left: 0px;
  height: 32px;
  width: 228px;
}

.footer__author{
  margin-left: 0px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column-heading{
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer__column-link{
  color: white;
  text-decoration: none;
}

.footer__social-icon{
  margin-right: 10px;
  width: 16px;
  height: 16px;
}